<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
            <ion-item>
              <ion-label>
                <h5> {{booking.placeTitle}} </h5>
                <p> Guests: {{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash" (click)="onCancelBooking(booking.id, slidingBooking)"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>